<form [formGroup]="formGroup" (submit)="submit()">
  <div class="row">
    <app-ui-input
      [group]="formGroup"
      name="title"
      label="Titulo"
    ></app-ui-input>
  </div>
  <div class="row">
    <app-ui-text-area
      [group]="formGroup"
      name="description"
      title="Descripción"
    >
    </app-ui-text-area>
  </div>
  <div class="row">
    <div class="col">
      <app-ui-calendar
      [group]="formGroup"
      name="startDate"
      label="Fecha de inicio"
      [defaultDate]="formGroup.get('startDate')?.value"
      [touchUI]="true"
    ></app-ui-calendar>
    </div>
    <div class="col">
      <app-ui-calendar
        [group]="formGroup"
        name="endDate"
        [defaultDate]="formGroup.get('endDate')?.value"
        label="fecha de Finalización"
        [touchUI]="true"
        *ngIf="formGroup.get('isFinished')?.value"
      ></app-ui-calendar>
    </div>
  </div>
  <div class="row">
    <app-ui-check-box
    [group]="formGroup"
    name="isFinished"
    label="¿Ha finalizado?"
    ></app-ui-check-box>
  </div>
  <div class="row">
    <app-ui-input
      [group]="formGroup"
      name="source"
      label="URL de imagen"
    ></app-ui-input>
  </div>
  <div class="row">
    <div class="d-flex justify-content-center my-2">
      <button
        pButton
        pRipple
        label="Cancelar"
        (click)="cancel()"
        class="p-button p-button-secondary mx-1"
      ></button>
      <button
        pButton
        pRipple
        label="Guardar"
        type="submit"
        class="p-button p-button-info text-white"
      ></button>
    </div>
  </div>
</form>
