<form [formGroup]="formGroup" (submit)="submit()">
  <app-ui-input
  [group]="formGroup"
  name="businessName"
  label="Empresa"
  ></app-ui-input>
  <app-ui-input
  [group]="formGroup"
  name="role"
  label="Rol o perfil desempeñado"
  ></app-ui-input>
  <div class="row">
    <div class="col">
      <app-ui-calendar
      label="Fecha de inicio"
      [group]="formGroup"
      name="startDate"
      [touchUI]="true"
      ></app-ui-calendar>
    </div>
    <div class="col">
      <app-ui-calendar
      label="Fecha de Fin"
      [group]="formGroup"
      [touchUI]="true"
      name="endDate"
      *ngIf="(this.formGroup.get('isFinished')?.value)"
      ></app-ui-calendar>
    </div>
  </div>
  <app-ui-check-box
  [group]="formGroup"
  name="isFinished"
  label="¿Su rol en esta empresa ha finalizado?"
  ></app-ui-check-box>
  <div class="row">
    <div class="d-flex justify-content-center my-2">
      <button
        pButton
        pRipple
        label="Cancelar"
        (click)="cancel()"
        class="p-button p-button-secondary  mx-1"
      ></button>
      <button
        pButton
        pRipple
        label="Guardar"
        type="submit"
        class="p-button p-button-info text-white"
      ></button>
    </div>
  </div>
</form>
