<div class="container-fluid" id="projects">
  <div class="row">
    <div class="col-md-10">
      <h2>
        Proyectos.
        <span class="text-muted">Projects.</span>
      </h2>
    </div>
    <div class="col-md-2" *ngIf="isLogged">
      <button
        pButton
        pRipple
        icon="pi pi-plus"
        label="Nuevo"
        (click)="create()"
        class="p-button p-button-success p-button-outlined mx-2"
      ></button>
    </div>
  </div>
  <div class="row">
    <app-ui-project-carousel
      [items]="(items$ | async)!"
      *ngIf="(items$ | async)! !== null; else elseblock"
    >
    </app-ui-project-carousel>
    <ng-template #elseblock>
      <app-ui-spinner></app-ui-spinner>
    </ng-template>
  </div>
</div>
