<div class="container-fluid" id="projects">
  <h2>
    Proyectos.
    <span class="text-muted">Projects.</span>
  </h2>
  <div class="row mb-2 my-4">
    <div class="col-md-6"></div>
    <div class="col-md-5">
      <div
        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
      >
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">Cinemar API</h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="mb-auto">
            API REST desarrollada en Python empleando el "micro-framework"
            Flask. Proyecto desarrollado para el curso "Mil Programadores 2022 -
            Python"
          </p>
          <a href="https://cinemar-api.vercel.app/" class="stretched-link"
            >Ver Proyecto...</a
          >
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg
            class="bd-placeholder-img"
            width="50"
            height="250"
            role="img"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
          >
            <rect width="100%" height="100%" fill="#55595c" />
            <text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
