<div class="container-fluid" id="knowledge">
    <h2>Conocimientos.
      <span class="text-muted">Knowledge.</span>
    </h2>
    <div class="container my-4">
      <div class="row">
        <div class="col-1">
          <p class="fw-bold">HTML</p>
        </div>
        <div class="col">
          <div class="progress my-2">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Default striped example" style="width: 75%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          </div>              
        </div>
        <div class="col-1">
          <p class="fw-bold">CSS</p>
        </div>
        <div class="col">
          <div class="progress my-2">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-label="Default striped example" style="width: 50%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          </div>              
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <p class="fw-bold">Angular</p>
        </div>
        <div class="col">
          <div class="progress my-2">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-label="Default striped example" style="width: 60%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          </div>              
        </div>
        <div class="col-1">
          <p class="fw-bold">Python</p>
        </div>
        <div class="col">
          <div class="progress my-2">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-label="Default striped example" style="width: 70%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          </div>              
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <p class="fw-bold">C#</p>
        </div>
        <div class="col">
          <div class="progress my-2">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-label="Default striped example" style="width: 40%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          </div>              
        </div>
        <div class="col-1">
          <p class="fw-bold">Flask</p>
        </div>
        <div class="col">
          <div class="progress my-2">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark" role="progressbar" aria-label="Default striped example" style="width: 45%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          </div>              
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <p class="fw-bold">Power BI</p>
        </div>
        <div class="col">
          <div class="progress my-2">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-label="Default striped example" style="width: 65%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          </div>              
        </div>
        <div class="col-1">
          <p class="fw-bold">SQL</p>
        </div>
        <div class="col">
          <div class="progress my-2">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Default striped example" style="width: 65%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          </div>              
        </div>
      </div>
    </div>
  </div>
