<div class="field" [formGroup]="group">
  <label  class="text-gray-700">{{ label }}</label>
  <div class="p-inputgroup">
    <input
      id="username2"
      type="{{ type }}"
      [formControlName]="name"
      [placeholder]="placeholder"
      [readOnly]="readOnly"
      class="text-base text-color bg-white surface-overlay p-2 border-1 border-solid surface-border appearance-none outline-none focus:border-primary"
      aria-describedby="username2-help"
      pInputText
      (input)="onInput()"
    />
  </div>
  <small *ngIf="valid" id="username2-help" class="p-error block">{{
    errorMessage
  }}</small>
</div>
