<p-card styleClass="p-card-shadow mx-1 p-4 bg-dark text-white    rounded">
  <ng-template pTemplate="header">
    <div class="container">
      <h3>{{ title }}</h3>
      <h5 class="text-muted">{{ releaseDate | date }}</h5>
    </div>
  </ng-template>
  <div>
    <p class="text-justify">{{ description }}</p>
  </div>
  <ng-template pTemplate="footer">
    <hr />
    <a
      [href]="source"
      class=" text-decoration-none text-decoration-none"
      target="_blank"
      >Ver Proyecto...</a
    >
  </ng-template>
</p-card>
