<p-card
  styleClass="p-card-shadow mx-1 p-4 bg-dark text-white rounded"
  [style]="{  height: '28rem' }"
>
  <ng-template pTemplate="header">
    <div class="container">
      <div class="row">
        <div class="col col-md-8">
          <h3>{{ item.title }}</h3>
        </div>
          <div class="col-4 col-md-4" *ngIf="isLogged">
            <span class="d-flex justify-content-center" >
              <button
              pButton
              pRipple
              icon="pi pi-pencil"
              (click)="update(item)"
              class="p-button p-button-info p-button-text"
            ></button>
            <button
            pButton
            pRipple
            icon="pi pi-trash"
            (click)="delete(item.idProject)"
            class="p-button p-button-danger p-button-text"
          ></button>
            </span>
        </div>
      </div>
      <h5 class="text-muted">{{ item.releaseDate | date }}</h5>
    </div>
  </ng-template>
  <div>
    <p class="m-0">{{ item.description }}</p>
  </div>
  <ng-template pTemplate="footer">
    <hr />
    <a
      [href]="item.source"
      class="text-decoration-none text-decoration-none"
      target="_blank"
      >Ver Proyecto...</a
    >
  </ng-template>
</p-card>
