<div class="form-group" [formGroup]="group">
  <label for="dropdown" class="text-muted">{{ label }}</label>
  <div class="flex">
    <p-dropdown
      id="dropdown"
      [optionLabel]="optionLabel"
      [optionValue]="optionValue"
      [options]="options"
      [formControlName]="name"
      scrollHeight="100px"
      (onChange)="onInput()"
      [placeholder]="placeholder"
      [showClear]="true"
      styleClass="text-muted"
    ></p-dropdown>
  </div>
  <small *ngIf="valid" id="dropdown-help" class="p-error block">{{
    errorMessage
  }}</small>
</div>
