<div class="container-fluid" id="aboutme">
  <div class="row featurette">
    <h2 class="featurette-heading fw-normal lh-1">
      Sobre mí.
      <span class="text-muted">About me.</span>
    </h2>
    <div class="col-12 col-md-8 col-xxl-9">
      <p class="lead">
        Desarrollador FullStack con pasión por el aprendizaje y la resolución de
        problemas. Estoy proximo a obtener mi título en Ingeniería en
        Informática. Busco trabajo en la industria con nuevos retos donde pueda
        aprender y crecer.
      </p>
      <p class="lead">Algunos de mis conocimientos son:</p>
      <ul>
        <li class="lead">Desarrollo web Full Stack</li>
        <li class="lead">Experiencia en creación de API REST</li>
        <li class="lead">Manejo de base de datos</li>
        <li class="lead">Front End interactivo según el diseño</li>
        <li class="lead">Desarrollo de proyectos de data analytics</li>
      </ul>
    </div>
    <div class="col col-md-4 col-xxl-3">
      <img
        src="assets/images/about-me-picture.jpeg"

        class="rounded img-fluid img"
      />
    </div>
  </div>
</div>
