<div class="container-fluid" id="education">
  <div class="row">
    <div class="col-md-10">
      <h2>
        Educación y Logros Académicos.
        <span class="text-muted">Education & achievements.</span>
      </h2>
    </div>
    <div class="col-md-2">
      <button
      pButton
      pRipple
      icon="pi pi-plus"
      label="Nuevo"
      (click)="create()"
      class="p-button p-button-success p-button-outlined block mx-2"
    ></button>
    <!-- <button
    pButton
    pRipple
    icon="pi pi-pencil"
    class="p-button p-button-info  p-button-outlined   "
  ></button> -->
    </div>
  </div>
  <div class="row">
    <app-ui-carousel [items]="(studies$ | async)!" class="my-3"></app-ui-carousel>
  </div>
</div>
