<div class="p-4 p-md-5 mb-4 my-4 text-bg-dark">
    <div class="row">
      <div class="col-md-9 col-xxl-10">
        <h1 class="display-4 fst-italic">Sandoval Pablo</h1>
        <p class="lead my-3">
          Tecnico universitario en Informática. <br />
          Estudiante avanzado en Ingenieria en Informática UCASAL.
        </p>
        <ul
          class="list-group list-group-horizontal"
          style="font-size: 1.5rem"
        >
          <li class="list-group-item bg-transparent border-0">
            <a href="https://github.com/SPablo2191"
              ><i class="bi bi-github text-light fa-fw"></i
            ></a>
          </li>
          <li class="list-group-item bg-transparent border-0">
            <a href="https://www.linkedin.com/in/pablo-sandoval-838553216/"
              ><i class="bi bi-linkedin text-light"></i
            ></a>
          </li>
          <li class="list-group-item bg-transparent border-0">
            <a href="https://www.instagram.com/s.pablo21/"
              ><i class="bi bi-instagram text-light"></i
            ></a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-xxl-2">
        <div class="circular--landscape">
          <img src="assets\images\profile-picture.png" />
        </div>
      </div>
    </div>
  </div>
