<div class="p-4 p-md-5 mb-4 my-4 text-bg-dark">
  <div class="row">
    <div class="col-md-9 col-xxl-10">
      <h1 class="display-4 fst-italic">Sandoval Pablo</h1>
      <p class="lead my-3">
        Tecnico universitario en Informática. <br />
        Estudiante avanzado en Ingenieria en Informática UCASAL.
      </p>
      <p class="lead my-3">
        "Es importante adquirir el conocimiento de diferentes pensamientos,
        opiniones y puntos de vista. Si lo haces desde uno solo, te vuelves
        rígido y tedioso. Si entiendes al resto, serás alguien completo"
      </p>
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item bg-transparent border-0">
          <a href="https://github.com/SPablo2191" class="iconSocial"
            ><i class="bi bi-github text-light fa-fw"></i
          ></a>
        </li>
        <li class="list-group-item bg-transparent border-0">
          <a
            href="https://www.linkedin.com/in/pablo-sandoval-838553216/"
            class="iconSocial"
            ><i class="bi bi-linkedin text-light"></i
          ></a>
        </li>
        <li class="list-group-item bg-transparent border-0">
          <a href="https://www.instagram.com/s.pablo21/" class="iconSocial"
            ><i class="bi bi-instagram text-light"></i
          ></a>
        </li>
      </ul>
    </div>
    <div class="col-md-3 col-xxl-2">
      <div class="circular--landscape">
        <img src="assets\images\profile-picture.png" />
      </div>
    </div>
  </div>
</div>
